@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #183b28;
}
.warpper{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: #add770;
    box-shadow: saddlebrown;
}
.game-detail{
    color: #000000;
    font-weight: 200;
    font-size: 1rem;
    padding: 20px 26px;
    display: flex;
    justify-content: space-between;
}
.play{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(30,1fr)/repeat(30,1fr);
    background-image: url("ad.jpg");
    background-size: cover; /* or contain, depending on your preference */
    background-repeat: no-repeat;
}
.play .food{
    background-image: url("app.png");
    background-size: cover; /* or contain, depending on your preference */
    background-repeat: no-repeat;}
.play .head{
    background-image: url("sd.png");
    background-size: cover; /* or contain, depending on your preference */
    background-repeat: no-repeat;
}
.control{
    display: none;
    justify-content: space-between;
}
.control i{
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #de2d2a;
    width: calc(100%/4);
    cursor: pointer;
    border-right: 1px solid #7087c0;
}
@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }
    .game-detail {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .control {
        display: flex;
    }
    .control i {
        padding: 15px 0;
        font-size: 1rem;
    }
}